body {
  font-family: "Roboto Slab", serif
}

h1 {
  font-size: 50px;
  font-weight: lighter
}

h2 {
  font-size: 24px;
  font-weight: lighter
}

h3 {
  font-size: 18px;
  font-weight: lighter
}

p {
  font-size: 14px
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}
