body {
  font-family: "Roboto Slab", serif;
  text-wrap: balance;
}

h1 {
  font-weight: lighter;
  font-size: 50px;
}

h2 {
  font-size: 24px;
  font-weight: lighter;
}

h3 {
  font-size: 18px;
  font-weight: lighter;
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
